<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Votekey - Rick Ross For Comptroller / Royal Exchequer</title>
	<link rel="icon" href="images/favicon.png" type="image/png" />
	<link rel="stylesheet" href="css/votekey.css" type="text/css" media="screen, projection" />
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<a id="headerLogo"></a>
			<a id="clientTitle">Rick Ross For Comptroller</a>
			<a id="logout">logout</a>
		</div>
		<br class="clear" />
		<div id="content" class="callTool">
			<div id="callBox">
				<h1>Phone Bank</h1>
				<br class="c" />
				<h2>Jim Jones</h2>
				<br class="c" />
				<h2>957.852.3321</h2>
				<br class="c" />
				<span>Hi <b>Jim</b>, I was just wondering if I could have a minute of your precious time to let you know what a fantastic job Rick Ross is doing to clean up our streets. He tirelessly and vigilantly scours our neighborhoods for fake ass bustas day and night. Word is bond.</span>
				<br class="c" />
				<hr />
				<a href="#" id="notHome" class="button badNews">Not Home</a>
				<a href="#" id="wrongNumber" class="button badNews">Wrong Number</a>
				<a href="#" id="n5" class="button numButton">5</a>
				<a href="#" id="n4" class="button numButton">4</a>
				<a href="#" id="n3" class="button numButton">3</a>
				<a href="#" id="n2" class="button numButton">2</a>
				<a href="#" id="n1" class="button numButton">1</a>
			</div>
		</div>
		<div id="footer">
			<span class="l">&copy; Votekey 2010</span>
			<span class="r"><a href="#">Help</a><a href="#">Contact</a></span>
		</div>
	</div>
	<script type="text/javascript" src="js/lib/jquery.js"></script>
</body>
</html>