<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Votekey - Rick Ross For Comptroller / Royal Exchequer</title>
	<link rel="icon" href="images/favicon.png" type="image/png" />
	<link rel="stylesheet" href="css/votekey.css" type="text/css" media="screen, projection" />
</head>
<body>
	<div id="wrapper">
		<div id="loginBox">
			<span id="loginLogo"></span>
			<br />
			<span id="clientName">Rick Ross for Comptroller</span>
			<br />
			<input type="text" name="email" />
			<label for="email">email</label>
			
			<input type="password" name="password" />
			
			<label for="password">password</label>
			<br class="c" />
			<a href="register.html" id="loginButton" class="button">Login</a>
		</div>
	</div>
	<script type="text/javascript" src="js/lib/jquery.js"></script>
</body>
</html>