<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= @current_client %> powered by votekey</title>
  <link rel="icon" href="images/favicon.png" type="image/png" />
  <%= stylesheet_link_tag 'votekey' %>
</head>
<body>
  <div id="wrapper">
    <%= yield %>
  </div>
  <script type="text/javascript" src="js/lib/jquery.js"></script>
</body>
</html>